<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright (c) [2020] [yang1989]
  ~    [yt4j] is licensed under Mulan PSL v2.
  ~    You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~    You may obtain a copy of Mulan PSL v2 at:
  ~             http://license.coscl.org.cn/MulanPSL2
  ~    THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~    See the Mulan PSL v2 for more details.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yt4j.sys.dao.SysDictItemDao">

    <resultMap type="cn.yt4j.sys.entity.SysDictItem" id="SysDictItemMap">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="label" column="label"/>
        <result property="value" column="value"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="batchInsert">
        insert into sys_dict_item (code,label,`value`)
        values
        <foreach collection="items" separator="," open="(" close=")" item="item">
            #{item.code},#{item.label},#{item.value}
        </foreach>
    </insert>
</mapper>
