<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright (c) [2020] [yang1989]
  ~    [yt4j] is licensed under Mulan PSL v2.
  ~    You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~    You may obtain a copy of Mulan PSL v2 at:
  ~             http://license.coscl.org.cn/MulanPSL2
  ~    THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~    See the Mulan PSL v2 for more details.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yt4j.sys.dao.SysUserDao">

    <resultMap type="cn.yt4j.sys.entity.SysUser" id="UserMap">
        <id property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="idCard" column="id_card"/>
        <result property="avatar" column="avatar"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>
