<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright (c) [2020] [yang1989]
  ~    [yt4j] is licensed under Mulan PSL v2.
  ~    You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~    You may obtain a copy of Mulan PSL v2 at:
  ~             http://license.coscl.org.cn/MulanPSL2
  ~    THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~    See the Mulan PSL v2 for more details.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yt4j.sys.dao.SysUserRoleDao">

    <resultMap type="cn.yt4j.sys.entity.SysUserRole" id="SysUserRoleMap">
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>
    <insert id="batchAdd">
        insert into sys_user_role
        values
        <foreach collection="roleIds" separator=","  item="role">
            (#{userId},#{role})
        </foreach>
    </insert>
</mapper>
