##导入宏定义
$!{define.vm}
$!{mybatisCodehelper.vm}

##设置表后缀（宏定义）
#set($controllerName = $tool.append($tableInfo.name, "Controller"))
##设置回调
#set($controllerSavePath = $tool.append(${controllerSrcFolder},"/",${controllerPackageName.replace(".","/")}))

$!callback.setSavePath($controllerSavePath)
$!callback.setFileName($tool.append($controllerName, ".java"))

##定义服务名
#set($serviceName = $!tool.append($!tool.firstLowerCase($!tableInfo.name), "Service"))

##定义实体对象名
#set($entityName = $!tool.firstLowerCase($!tableInfo.name))

package ${controllerPackageName};
import cn.dev33.satoken.stp.StpUtil;
import cn.yt4j.core.domain.PageRequest;
import cn.yt4j.core.domain.PageResult;
import cn.yt4j.core.domain.R;
import $!{modelPackageName}.$!{tableInfo.name};
import ${servicePackageName}.$!{tableInfo.name}Service;
import cn.yt4j.log.annotation.SysLog;
import jakarta.validation.Valid;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;
import io.swagger.v3.oas.annotations.tags.Tag;

import java.util.List;

##表注释（宏定义）
#tableComment("表控制层")
@Tag(name = "$!{tableInfo.comment}")
@RequiredArgsConstructor
@RestController
@RequestMapping("$!tool.firstLowerCase($!tableInfo.name)")
public class $!{controllerName} {
/**
 * 服务对象
 */
private final $!{tableInfo.name}Service $!{serviceName};

/**
* 分页查询所有数据
* @param request 查询实体
* @return 所有数据
*/
@SysLog("分页查询$!{tableInfo.comment}所有数据")
@PostMapping("page")
public R<PageResult<$!tableInfo.name>>listPage(@Valid @RequestBody PageRequest<$!tableInfo.name> request){
        return R.ok(this.$!{serviceName}.page(request.page(),request.wrapper()));
        }

/**
 * 通过主键查询单条数据
 * @param id 主键
 * @return 单条数据
 */
@SysLog("通过主键查询$!{tableInfo.comment}单条数据")
@GetMapping("get/{id}")
public R<$!tableInfo.name> selectOne(@PathVariable Long id){
        return R.ok(this.$!{serviceName}.getById(id));
        }

/**
 * 新增$!{tableInfo.comment}数据
 * @param $!entityName 实体对象
 * @return 新增结果
 */
@SysLog("新增客户表数据")
@PostMapping("insert")
public R insert(@RequestBody $!tableInfo.name $!entityName){
        return R.ok(this.$!{serviceName}.save($!entityName));
        }

/**
 * 修改$!{tableInfo.comment}数据
 * @param $!entityName 实体对象
 * @return 修改结果
 */
@SysLog("修改$!{tableInfo.comment}数据")
@PutMapping("update")
public R update(@RequestBody $!tableInfo.name $!entityName){
        return R.ok(this.$!{serviceName}.updateById($!entityName));
        }

/**
 * 删除$!{tableInfo.comment}数据
 * @param id 主键结合
 * @return 删除结果
 */
@SysLog("删除$!{tableInfo.comment}数据")
@DeleteMapping("delete/{id}")
public R delete(@PathVariable Long id){
        return R.ok(this.$!{serviceName}.removeById(id));
        }

}
