<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yt4j.generate.mapper.GenTableColumnMapper">

    <resultMap id="BaseResultMap" type="cn.yt4j.generate.entity.GenTableColumn">
        <id property="columnId" column="column_id" jdbcType="BIGINT"/>
        <result property="tableId" column="table_id" jdbcType="BIGINT"/>
        <result property="columnName" column="column_name" jdbcType="VARCHAR"/>
        <result property="columnComment" column="column_comment" jdbcType="VARCHAR"/>
        <result property="columnType" column="column_type" jdbcType="VARCHAR"/>
        <result property="javaType" column="java_type" jdbcType="VARCHAR"/>
        <result property="javaField" column="java_field" jdbcType="VARCHAR"/>
        <result property="isPk" column="is_pk" jdbcType="CHAR"/>
        <result property="isIncrement" column="is_increment" jdbcType="CHAR"/>
        <result property="isRequired" column="is_required" jdbcType="CHAR"/>
        <result property="isInsert" column="is_insert" jdbcType="CHAR"/>
        <result property="isEdit" column="is_edit" jdbcType="CHAR"/>
        <result property="isList" column="is_list" jdbcType="CHAR"/>
        <result property="isQuery" column="is_query" jdbcType="CHAR"/>
        <result property="queryType" column="query_type" jdbcType="VARCHAR"/>
        <result property="htmlType" column="html_type" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        column_id,table_id,column_name,
        column_comment,column_type,java_type,
        java_field,is_pk,is_increment,
        is_required,is_insert,is_edit,
        is_list,is_query,query_type,
        html_type,dict_type,sort,
        create_by,create_time,update_by,
        update_time
    </sql>
    <select id="selectDbTableColumnsByName" resultType="cn.yt4j.generate.entity.GenTableColumn">
        select column_name,
               (case when (is_nullable = 'no' <![CDATA[ && ]]> column_key != 'PRI') then '1' else null end) as is_required,
               (case when column_key = 'PRI' then '1' else '0' end) as is_pk,
               ordinal_position as sort,
               column_comment,
               (case when extra = 'auto_increment' then '1' else '0' end) as is_increment,
               column_type
        from information_schema.columns where table_schema = (select database()) and table_name = (#{tableName})
        order by ordinal_position
    </select>
</mapper>
