##following code can be generated use MybatisCodeHelperPro plugin mybatis generator mingrate to template generate.
##copy group for different project.
#set($javamodelSrcFolder="${modulePath}/src/main/java")
#set($modelPackageName="${tableInfo.savePackageName}.entity")
#set($mapperSrcFolder="${modulePath}/src/main/java")
#set($mapperPackageName="${tableInfo.savePackageName}.mapper")
#set($mapperXmlFolder="${modulePath}/src/main/resources")
#set($mapperXmlPackage="mapper")
#set($serviceSrcFolder="${modulePath}/src/main/java")
#set($servicePackageName="${tableInfo.savePackageName}.service")
#set($serviceImplSrcFolder="${modulePath}/src/main/java")
#set($serviceImplPackageName="${tableInfo.savePackageName}.service.impl")
#set($controllerSrcFolder="${modulePath}/src/main/java")
#set($controllerPackageName="${tableInfo.savePackageName}.controller")
#set($useLombok=true)
#set($useSwagger=true)
#set($useOpenApi=false)
#set($addSchemaName=false)
#set($mapperSuffix="Mapper")
#set($daoSuffix="Mapper")
#set($useActualColumName=false)

#if($useActualColumName)
    #foreach($column in $tableInfo.fullColumn)
        $!column.setName($column.obj.name)
    #end
#end

##去掉表的t_前缀
$!tableInfo.setName($tool.getClassName($tableInfo.obj.name.replaceFirst("yt4j_","")))

